<h1>Listing servers</h1>
 
<table class="striped">
  <tr>
    <th>Name</th>
    <th>Host</th>
    <th>Online</th>
    <th>Ready?</th>
  </tr>
 
  <% @servers.each do |s| %>
    <tr>
      <td><%= s.name %></td>
      <td><%= s.host %></td>
      <td>
        <% if s.status %>
          <a class="waves-effect waves-light btn green">Online</a>
        <% else %>
          <span class="waves-effect waves-light btn red">Offline</span>
        <% end %></td>
        <td>
        <% if s.setup %>
         <a class="waves-effect waves-light dropdown-button btn green">Ready</a>
        <% elsif !s.setup %>
          <a class="waves-effect waves-light dropdown-button btn red tooltipped" data-position="right" data-delay="50" data-tooltip="<%= s.setup_info %>" href="#" data-beloworigin="true" data-activates="server<%= s.id %>">Not ready
          </a>
          <ul id="server<%= s.id %>" class='dropdown-content' style='width:auto'>
            <li><%= link_to 'Fix setup', server_setup_path(:id => s.id) %></li>
          </ul>
        <% end %></td>
    </tr>
  <% end %>
</table>
