<h1 class="blue-text text-darken-3">Servers</h1>
<%= link_to 'Add server', new_server_path, class: "btn blue darken-4" %> 
<%= link_to 'Ping servers', servers_refresh_path, class: "btn blue darken-4" %>
<br>
<table class="striped">
  <tr>
    <th>Name</th>
    <th>Host</th>
    <th>Status</th>
    <th>Docker Daemon</th>
    <th>Total RAM</th>
    <th>RAM Usage</th>
    <th>Available Disk space</th>
    <th>Operating System</th>
    <th>Containers</th>
    <th>Images</th>
  </tr>
  
  <% @servers.each do |s| %>
    <tr>
      <td><%= link_to "#{s.name}", server_path(:id => s.id) %></td>
      <td><%= s.host %></td>
      <td>
        <% if s.status %>
          <a class="btn green disabled white-text">Online</a>
        <% else %>
          <span class="btn red disabled white-text">Offline</span>
        <% end %>
      </td>
      <td>
        <% if s.daemon_status %>
          <a class="btn green disabled white-text">Running</a>
        <% else %>
          <span class="btn red disabled white-text">Not running</span>
        <% end %>
      </td>
      <td><%= s.storage %></td>
      <td><%= s.ram_usage %> %</td>
      <td><%= s.disk_space %></td>
      <td><%= s.os %></td>
      <td><%= Container.where(server_id: s.id).count %>/<%= s.total_containers %></td>
      <td><%= s.total_images %></td>
    </tr>
  <% end %>
</table>
