<h1 class="blue-text text-darken-3">Listing Containers <a href="/containers.json">{JSON}</a> </h1>
<%= link_to 'Add container', new_container_path , class: "blue darken-3 btn"%>
<%= link_to 'Ping containers', containers_refresh_path, class: "btn blue darken-4" %> Last check: <%= ServerLoad.last.created_at.localtime %>
<br>

<table class="striped">
  <tr>
    <th>Name</th>
    <th>Image</th>
    <th>Commands</th>
    <th>Server</th>
    <th>Ports : Host Ports</th>
    <th>Status
  </tr>
  

   <% @containers.each do |c| %>
   <% server = get_server(c.server_id) %>
   <% state = parse_state(c) %>
    <tr>
      <td><%= link_to "#{c.name}", container_path(:id => c.id) %></td>
      <td><%= c.image %></td>
      <td><%= c.command %>
      <td><%= server.name %></td>
      <td><%= c.local_port %> : <%= c.host_port %></td>
      <td>
        <% if state["Paused"] == true %>
          <span class="btn yellow disabled white-text">Paused</span>
        <% elsif state["Running"] == true %>
          <span class="btn green disabled white-text">Online</span>
        <% elsif state["Restarting"] == true %>
          <span class="btn green disabled white-text">Restarting</span>
        <% else %>
          <span class="btn red disabled white-text">Offline</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>



