<h1>Listing Containers</h1>
<%= link_to 'Add container', new_container_path , class: "blue darken-3 btn"%>
<br>
<table class="striped">
  <tr>
    <th>Name</th>
    <th>Server</th>
    <th>Image</th>
    <th>Ports</th>
    <th>Description</th>
  </tr>
  
  <% @containers.each do |c| %>
    <tr>
      <td><%= link_to "#{c.name}", container_path(:id => c.id) %></td>
      <td><%= c.server.name %></td>
      <td><%= c.image_id %></td>
      <td><%= c.local_port %>:<%= c.host_port %></td>
      <td><%= c.description %></td>
    </tr>
  <% end %>
</table>


