<h1>Listing Images</h1>
<%= link_to 'New image', new_image_path, class: "blue darken-3 btn" %>
<br>
<table class="striped">
  <tr>
    <th>Title</th>
    <th>Created</th>
    <th>Base Image</th>
    <th colspan="3"></th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= link_to "#{image.title}", image_path(:id => image.id) %></td>
      <td><%= image.date_added %></td>
      <td><%= image.base_image %></td>
      <td><%= link_to 'Edit', edit_image_path(image) , class: "blue darken-3 btn"%></td>
  <% end %>
</table>