<h1>Listing Images</h1>
<%= link_to 'New image', new_image_path, class: "blue darken-3 btn" %>
<br>
<table class="striped">
  <tr>
    <th>Id</th>
    <th>Repo/Image</th>
    <th>Created</th>
    <th colspan="3"></th>
  </tr>
 
  <% @images.each do |image| %>
    <tr>
      <td><%= image.id %></td>
      <td><%= image.repo %>:<%= image.image %></td>
      <td><%= image.created_at %></td>
      <td><%= link_to 'Edit', edit_image_path(image) , class: "blue darken-3 btn"%></td>
  <% end %>
</table>