<html>
  <head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>
      <%= content_for?(:title) ? yield(:title) : 'Pier96' %>
    </title>
    <meta content="<%= content_for?(:description) ? yield(:description) : 'Pier96' %>" name="description"/>
    <%= stylesheet_link_tag 'materialize', :debug => false  %>
    <%= javascript_include_tag "jquery.min" %>
    <%= javascript_include_tag 'materialize.min', :debug => false %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main class="container">
      <%= yield %>
    </main>
  </body>
  <%= render 'layouts/footer' %>
</html>
